# ============================================================
#  SAPASE – Variables de entorno
#  Copia este archivo como  .env  y ajusta los valores
# ============================================================

# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=TU_PASSWORD_AQUI
DB_NAME=sapase_db

# JWT
JWT_SECRET=cambia_esto_por_una_clave_muy_larga_y_segura_2025
JWT_EXPIRES=8h

# Servidor
PORT=3001
